*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    width:100vw;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#eef9ff;

    font-family:"Pretendard",sans-serif;

}

.card{

    width:95vw;
    max-width:430px;

    min-height:96vh;

    background:white;

    border:4px solid #7ed8ff;

    border-radius:30px;

    padding:35px 25px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    box-shadow:0 15px 35px rgba(0,0,0,.12);

}

img{

    width:140px;
    height:140px;

    border-radius:50%;

    object-fit:cover;

    border:5px solid #7ed8ff;

    margin-bottom:20px;

}

h1{

    font-size:34px;

    margin-bottom:8px;

}

h2{

    font-size:21px;

    color:#666;

    margin-bottom:30px;

}

.intro{

    width:100%;

    margin-bottom:30px;

}

.intro div{

    background:#eaf8ff;

    color:#1697d9;

    padding:12px;

    border-radius:25px;

    margin-bottom:12px;

    font-weight:bold;

    font-size:18px;

}

a{

    width:100%;

    text-align:center;

    text-decoration:none;

    background:#4fc3f7;

    color:white;

    padding:18px;

    margin-bottom:15px;

    border-radius:18px;

    font-size:18px;

    font-weight:bold;

    transition:.2s;

    box-shadow:0 8px 20px rgba(79,195,247,.3);

}

a:hover{

    background:#29b6f6;

}

a:active{

    transform:scale(.96);

}
